pic/ 
cur_oil.xlsx
Magic_White_Powder.ipynb
conn.ipynb
.gitignore_global
.ipynb_checkpoints/Magic_White_Powder-checkpoint.ipynb
.ipynb_checkpoints/conn-checkpoint.ipynb
.ipynb_checkpoints/HomeworkSQL-checkpoint.ipynb